<!--Fragment pour les entêtes-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- header -->
<header class="header" th:fragment="header">
    <!-- topbar -->
    <div class="topbar">
        <div class="container">
            <div class="col-md-offset-4 col-md-2 title-bar">
                <a th:href="@{/}">Démo BforBank</a>
            </div>
            <ul class="loginbar pull-right">
                <li>
                    <i class="fa fa-user"></i>
                    <a>admin</a>
                </li>
                <li class="topbar-devider"></li>
                <li id="user-auth">
                    <i class="fa fa-list"></i>
                    <a>
                        <span>Hazelcast</span>
                    </a>
                </li>
                <li class="topbar-devider"></li>
                <li>
                    <i class="fa fa-anchor"></i>
                    <a>
                        <span th:text="${port}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- navigation -->
    <div role="navigation" class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button data-target=".navbar-responsive-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
                <a href="" class="navbar-brand">
                    <img th:src="@{img/logo_bforbank.svg}" alt="Logo" id="logo-brand"/>
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav" th:with="servletPath=${#httpServletRequest.getServletPath()}">
                    <li th:with="linkPath='/'" th:class="${servletPath == linkPath} ? 'active'">
                        <a th:href="@{/}"><i class="fa fa-home"></i> <span>Accueil</span></a>
                    </li>
                    <li th:with="linkPath='/hazelcast'" th:class="${servletPath == linkPath} ? 'active'">
                        <a th:href="@{/hazelcast}"><i class="fa fa-cubes"></i> <span>Hazelcast</span></a>
                    </li>
                    <li th:with="linkPath='/admin'" th:class="${servletPath == linkPath} ? 'active'">
                        <a th:href="@{/admin}"><i class="fa fa-dashboard"></i> <span>Métriques</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
</body>
</html>