<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="fr">
<!-- head -->
<head th:replace="/fragments/heads :: head"></head>
<body th:with="title='Hazelcast'">
<!-- header -->
<header th:replace="/fragments/headers :: header"></header>
<!-- titlebar -->
<div th:replace="/fragments/titlebars :: breadcrumb"></div>
<!-- contenu de la page -->
<div class="container" ng-app="hzApp">
    <div class="row" ng-controller="hzCtrl">
        <div class="headline"><h2><i class="fa fa-sitemap"></i> Noeuds Hazelcast</h2></div>
        <div ng-repeat="hzNode in hzNodes">
            <div class="col-md-3">
                <div class="pricing hover-effect">
                    <div class="pricing-head">
                        <h3 ng-if="hzNode.local" class="local"><i class="fa fa-laptop"></i> <span>Local</span></h3>

                        <h3 ng-if="!hzNode.local"><i class="fa fa-laptop"></i> <span>Distant</span></h3>
                    </div>
                    <ul class="pricing-content list-unstyled">
                        <li>
                            url : {{hzNode.host}}
                        </li>
                        <li>
                            port : {{hzNode.port}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-controller="garesCtrl">
        <div class="col-md-6">
            <div class="headline"><h2>Contenu du cache</h2></div>
            <table class="table table-condensed table-stripped">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Ville</th>
                    <th>Zone</th>
                </tr>
                </thead>
                <tbody ng-repeat="gare in gares">
                <tr>
                    <td>
                        {{gare.nom}}
                    </td>
                    <td>
                        {{gare.ville}}
                    </td>
                    <td>
                        {{gare.codeNavigo}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <div class="headline margin-bottom-60"><h2>Opérations</h2></div>
            <div class="col-md-offset-2">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-lg" ng-click="garesRefresh()">
                            <i class="fa fa-refresh"></i> Refresh
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-info btn-lg" ng-click="garesClean()">
                            <i class="fa fa-eraser"></i> Clean
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-danger btn-lg" ng-click="garesLoad()">
                            <i class="fa fa-upload"></i> Load
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
<footer th:replace="/fragments/footers :: footer"></footer>
<!-- scripts -->
<div th:replace="/fragments/jslibs :: libs"></div>
<script th:src="@{/js/hzApp.js}"></script>
</body>
</html>